<header class="bg-primary-800 dark:bg-primary-950 text-white py-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <a [routerLink]="['/']" class="text-2xl font-bold">Hüseyin DOL</a>
    </div>
    <nav>
      <ul class="flex gap-6">
        @for (item of menu; track item.id) {
        <li>
          <a [routerLink]="[item.link]" class="font-medium hover:text-primary-300 transition-colors">{{item.name}}</a>
        </li>
        }
      </ul>
    </nav>
    <div class="flex items-center gap-4">
      <div class="flex gap-3">
        <a [href]="contact.github" target="_blank" class="hover:text-primary-300 transition-colors">
          <i class="pi pi-github text-xl"></i>
        </a>
        <a [href]="contact.linkedin" target="_blank" class="hover:text-primary-300 transition-colors">
          <i class="pi pi-linkedin text-xl"></i>
        </a>
      </div>
      <button (click)="toggleDarkMode()"
        class="size-10 cursor-pointer rounded-full hover:bg-primary-700 transition-colors">
        <i class="pi" [ngClass]="{'pi-moon': !isDarkMode, 'pi-sun': isDarkMode}"></i>
      </button>
    </div>
  </div>
</header>